@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .textLeft {
        text-align: left;
        text-indent: 50px;
    }
</style>


    <div class="textLeft">

        @Html.Sitecore().Field("ptext")
    </div>
    <br />

    <div class="center">
        @{
            if (Sitecore.Context.PageMode.IsPreview)
            {
                <img class="center" src="@Html.Sitecore().Field("mediaurl", new {disableWebEdit = true })" />
            }
            else
            {
                @Html.Sitecore().Field("pimage", new { @class = "center img-responsive", mw = 500, mh = 333 })
            }
        }

    </div>
