@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<style>
    .imgRight {
        float: right;
        width: 170px;
        height: 170px;
        margin-left: 15px;
    }

    .textLeft {
        text-align: left;
        text-indent: 50px;
    }

</style>
<div>
    <br />
    <div class="textLeft">
        @Html.Sitecore().Field("pheading")
    </div>

    @{
        if (Sitecore.Context.PageMode.IsPreview)
        {
            <img src="@Html.Sitecore().Field("mediaurl", new { @class = "center",disableWebEdit = true })" />
        }
        else
        {
            @Html.Sitecore().Field("pimage", new { @class = "imgRight", mw = 500, mh = 333 })
        }
    }


    @*@Html.Sitecore().Field("pimage", new { @class = "imgRight" })*@

    <div class="textLeft">
        @Html.Sitecore().Field("ptext")
    </div>
    <br />

</div>