@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

    var localFolderPath = string.Concat(Model.PageItem.Paths.FullPath, "/_Local");
    var mdb = Sitecore.Configuration.Factory.GetDatabase("master");

    string itemId = Model.PageItem.ID.ToString();
    string localId = mdb.GetItem(localFolderPath).ID.ToString();
}

<style>
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<div>
    @if (!Sitecore.Context.PageMode.IsPreview)
    {

        <a href="http://daswechat.nat300.top/wechat/message/UploadMedia?myItem=@itemId&localItem=@localId" class="button">Upload Media to Wechat</a>
    }
   </div>