@model WeChat.Service.UserInfo

@{
//ViewBag.Title = "GetUserInfo";
//Layout = "~/Areas/Wechat/Views/Shared/Layout.cshtml";
}

<h2>GetUserInfo</h2>


<li>Open ID:@Model.Openid</li>
<li>Nickname:@Model.Nickname</li>
<li>Headimgurl:@Model.Headimgurl</li>
<li>Country:@Model.Country</li>
<li>Province:@Model.Province</li>
<li>City:@Model.City</li>
<li>Language:@Model.Language</li>
<li>Sex:@Model.Sex</li>
<li>Unionid:@Model.Unionid</li>
<li>Privilege:@Model.Privilege</li>
