
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Wechat/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<title>SitecoreWechat Module</title>

<li>
    <a href="/wechat/wechat/VerifySignature">Verify Connection To Wechat  
    </a>
</li>

<li>
    <a href="/wechat/wechat/GetQrcode">Get QRCode
    </a>
</li>

<li>
    <a href="/wechat/wechat/CreateWechatMenu">
        Create Menu
    </a>
</li>

<li>
    <a href="/wechat/wechat/GetUserInfo">
        Get UserInfo
    </a>
</li>