<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="wechat.appid" value="wx45d424260592cfd4"/>
      <setting name="wechat.appsecret" value="3ce3dade566c8cf5d33acafd97c2fd35"/>
      <!--<setting name="wechat.redirect_uri" value="http://xp901.japanwest.cloudapp.azure.com/"/>
      <setting name="wechat.login.redirect_uri" value="http://xp901.japanwest.cloudapp.azure.com/members"/>-->

      <setting name="wechat.redirect_uri" value="http://daswechat.nat300.top/"/>
      <setting name="wechat.login.redirect_uri" value="http://daswechat.nat300.top/members"/>

      <!--QiYe Wechat Settings-->
      <setting name="CorpToken" value="HelloSitecore"/>
      <setting name="EncodingAESKey" value="RY2Y8MHr9ExUmIYVJqY8JppIKmhHtiCfDpcnTzpaOQE"/>
      <setting name="CorpId" value="wwb44c73c10502c20b"/>
      
      <!--QiYe App 'Sitecore Approval' Settings-->
      <setting name="AgentID" value="1000004"/>
      <setting name="AgentSecret" value="HcZJu4lg0u2ilA8lQdpRm2xWPmxEqewqbAUHQicQ4uU"/>
      
    </settings>
  </sitecore>
</configuration>